[user]
	email = 21188659+aon@users.noreply.github.com
	name = aon
[pager]
	branch = false
	stash = false
[core]
	editor = nvim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
[alias]
	s = status
	ap = add -p
	c = checkout
