[user]
	email = 21188659+aon@users.noreply.github.com
	name = Agustin Aon
	signingkey = /Users/agustin/.ssh/id_ed25519.pub
[pager]
	branch = false
	stash = false
[core]
	editor = nvim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
[alias]
	s = status
	ap = add -p
	c = checkout
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
