[Desktop Entry]
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=discord com.discordapp.Discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=/opt/discord/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
